.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--jackblack);
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10pt;
    align-items: center;
    z-index: 3;
}

/* .social-links {
    display: flex;
    flex-direction: column;
}

.social-links a {
    color: white;
    text-decoration: none;
    background-color: black;
}
*/

.about-asante {
    word-break: break-word;
    /* width: 300px; */

    background-color: var(--jackblack);
}

.social-links a {
    color: white;
    text-decoration: none;
    background-color: var(--jackblack);
}

.fa-solid {
    font-size: 10px;
    margin: 0 5px 0 5px;
}
