body {
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-left {
    width: 50%;
    /* border: 5px solid pink; */
    padding: 0 10px;
}

.main-right {
    /* border: 5px solid rgb(192, 243, 255); */
    margin: 0px;
    padding: 0 10px;
}

/********* BOTTOM SECTION ******/
.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left {
    /* width: 75%; */
    /* border: 5px solid rgb(192, 255, 205); */
    padding: 0 0 0 20px;
}

.footer-right {
    /* border: 5px solid rgb(250, 216, 131); */
    width: 50%;
    padding: 0 10px;
}
/********* CAPITAL 'DRIVE EFFICIENCY ACROSS TEAMS' *******/
.uppercase-text-bio {
    text-transform: uppercase;
    font-size: 12px;
    color: darkgray;
}

/********* List View / Board View layout for title and bio **********/
.layouts-styling div {
    font-size: 20px;
}

.layouts-styling p {
    font-size: 16px;
    color: gray;
}

/******************* BUTTONS *********************/
.reg-button {
    font-size: 17px;
}

.button1 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    transition: background-color 0.6s;
    margin: 5px;
}

.button1:hover {
    background-color: #f06a6a;
    color: white;
}

.button2 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    margin: 5px;
}

.button2:hover {
    background-color: #f1bd6c;
    color: white;
}
.button3 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    margin: 5px;
}

.button3:hover {
    background-color: #9ee7e3;
    color: white;
}

.button4 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    margin: 5px;
}

.button4:hover {
    background-color: #938ce1;
    color: white;
}

.button5 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    margin: 5px;
}

.button5:hover {
    background-color: #5da283;
    color: white;
}
