body {
    font-family: "Helvetica Neue", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.reg-button {
    font-size: 17px;
}

.button1 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    transition: background-color 0.6s;

}

.button1:hover {
    background-color: #f06a6a;
    color: white;
}

.button2 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
}

.button2:hover {
    background-color: #f1bd6c;
    color: white;
}
.button3 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
}

.button3:hover {
    background-color: #9ee7e3;
    color: white;
}

.button4 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
}

.button4:hover {
    background-color: #938ce1;
    color: white;
}

.button5 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
}

.button5:hover {
    background-color: #5da283;
    color: white;
}

.main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-left {
    width: 50%;
}

.drive-efficiency-text {
    text-transform: uppercase;
    font-size: 12px;
    color: darkgray;
}

.end-container h4 {
    font-size: 31px;
}

.footer-text {
    font-size: 18px;
    color: grey;
}

.layout-container {
    display: flex;
}

.footer-header h4 {
    margin: 0px
}

.layouts-styling div {
    font-size: 22px;
}

.layouts-styling p {
    font-size: 16px;
    color: gray;
}
