body {
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.navbar-left a {
    text-decoration: none;
    margin-left: 17px;
    /* margin-right: 10px; */
    color: grey;
}

.navbar-right a {
    text-decoration: none;
    margin-left: 17px;
    /* margin-right: 10px; */
    color: grey;
}
/** keeps the navlinks grey even after you clicked on it**/
.navbar-left a:visited {
    color: grey;
}

.navbar-right a:visited {
    color: grey;
}

.get-started-btn {
    margin-left: 20px;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 3px 15px 3px 15px;
}

/***************** MAIN SECTION ******************/
.main-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-left {
    width: 35%;
    /* border: 5px solid pink; */
    padding: 0 10px;
}

.main-right {
    /* border: 5px solid rgb(192, 243, 255); */
    margin: 0px;
    padding: 0 10px;
}

/********* BOTTOM SECTION ******/
.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 20px; */
    padding-top: 70px;
}

.footer-left {
    /* width: 75%; */
    /* border: 5px solid rgb(192, 255, 205); */
    padding: 0 0 0 10px;
}

.footer-right {
    /* border: 5px solid rgb(250, 216, 131); */
    width: 30%;
    /* padding: 0 0 0 10px; */
    /* margin: 0 0 0 50px; */
}
/********* CAPITAL 'DRIVE EFFICIENCY ACROSS TEAMS' *******/
.uppercase-text-bio {
    text-transform: uppercase;
    font-size: 12px;
    color: darkgray;
}

/********* List View / Board View layout for title and bio **********/
.layouts-styling div {
    font-size: 20px;
}

.layouts-styling p {
    font-size: 16px;
    color: gray;
}

/******************* BUTTONS *********************/
.main-section-btn-1 {
    font-size: 17px;
    margin-right: 17px;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 3px 15px 3px 15px;
}

.main-section-btn-2 {
    font-size: 17px;
    background-color: white;
    font-size: 17px;
    padding: 3px 15px 3px 15px;
}

.button1 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    transition: background-color 0.6s;
    margin: 5px;
    font-size: 17px;
}

.button1:hover {
    background-color: #f06a6a;
    color: white;
}

.button2 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    margin: 5px;
    font-size: 17px;
}

.button2:hover {
    background-color: #f1bd6c;
    color: white;
}
.button3 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    margin: 5px;
    font-size: 17px;
}

.button3:hover {
    background-color: #9ee7e3;
    color: white;
}

.button4 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    margin: 5px;
    font-size: 17px;
}

.button4:hover {
    background-color: #938ce1;
    color: white;
}

.button5 {
    border: none;
    border-radius: 10px;
    padding: 0 16px;
    margin: 5px;
    font-size: 17px;
}

.button5:hover {
    background-color: #5da283;
    color: white;
}
