.app{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    min-height: 600px;
}

body {
    margin: 0;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    /* max-width: 100vp; */
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    min-height: 100vh;

    display: flex;
    flex-flow: column wrap;
    align-items: space-between;
}

#root {
    overflow-x: hidden;
    --jackblack: #1a1919;
    --asantered: #da3636;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

/* #root > div {
    min-height: 1000px;
} */

.overflow-hide {
    overflow-x: hidden;
    border: 1px solid red;
}
.change-cursor{
    cursor: pointer;
}

.profile-page{
    padding: 50px;
}

