body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100vp;
    font-family: 'Noto Sans', sans-serif;
}
#root {
    overflow-x: hidden;
    --jackblack: #1a1919;
    --asantered: #da3636;
}
.overflow-hide {
    overflow-x: hidden;
    border: 1px solid red;
}
.change-cursor{
    cursor: pointer;
}
