.profile-dropdown {
  position: absolute;
  top: 85px;
  right: 8px;
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  width: 120px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.nav-list > li {
  list-style:  none;
}
