.single-task-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.single-task-card > h3 {
    margin: 0px 0px;
}
