
.task-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    border: 1px solid black;
}

.task-grid {
    width: 950px;
    margin-left: 400px;
    box-shadow: 2px 2px 16px grey;
}

.my-tasks-title {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 400px;
}
